<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kencloud.workchat">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.kencloud.workchat.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.kencloud.workchat.permission.C2D_MESSAGE"/>
    <application
        android:name="com.kencloud.workchat.ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/kenchat_icon"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity android:name="com.kencloud.workchat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable_contacts" />
        />
        <activity
            android:name="com.kencloud.workchat.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kencloud.workchat.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kencloud.workchat.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kencloud.workchat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.kencloud.workchat.GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kencloud.workchat.ChatEmojiActivity"
            android:windowSoftInputMode="adjustResize" />

        <service android:name="com.kencloud.workchat.MyInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.kencloud.workchat.RegistrationIntentService"
            android:exported="false">
        </service>

        <receiver android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.kencloud.workchat" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="com.kencloud.workchat.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.kencloud.workchat.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.kencloud.workchat.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kencloud.workchat.ContactDetailActivity"
            android:label="@string/activity_contact_detail"
            android:parentActivityName="com.kencloud.workchat.MainActivity">

            <!--
                 Define hierarchical parent of this activity, both via the system
                 parentActivityName attribute (added in API Level 16) and via meta-data annotation.
                 This allows use of the support library NavUtils class in a way that works over
                 all Android versions. See the "Tasks and Back Stack" guide for more information:
                 http://developer.android.com/guide/components/tasks-and-back-stack.html
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kencloud.workchat.MainActivity" />
        </activity>
        <activity
            android:name="com.kencloud.workchat.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.kencloud.workchat.ContactChatActivity" />
        <!-- android:logo="@drawable/ic_launcher"/> -->
        <!--     android:allowBackup="true" -->
        <!--     android:icon="@drawable/ic_launcher" -->
            
        />
        <activity android:name="com.kencloud.workchat.NewGroupActivity" />
        <activity android:name="com.kencloud.workchat.StatusActivity" />
        <activity android:name="com.kencloud.workchat.ChatHistoryActivity" />
    </application>

</manifest>